<div>
  <h3 class="title">
    Food Exchange Dashboard
  </h3>

  <div style="display: flex;">
    <mat-form-field>
      <mat-select placeholder="Filter by" [(value)]="selected" (selectionChange)="onChange($event)">
        <mat-option *ngFor="let item of option" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div style="margin-left: auto;cursor: pointer;color: blue;" (click)="downloadReport()">
      Download Report
    </div>
  </div>
  <div class="graph">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</div>